label{
    display:block;
    padding: 10px 10px 0px 10px;
    width: 98%;

    &.inline{
        min-width: max(min(160px,50%),125px);
        max-width: 160px;
        display: inline-block;
        width: 50%;
    }

    &.radioGroup{
        display: inline-block;
        width:auto;
        min-width: 86px;
        max-width: 110px;
        white-space: nowrap;
        overflow: hidden;
    }

    .name{
        display: block;
        >.require{
            color: #ea2027;
        }
    }

    .radioName{
        vertical-align: 8px;
        padding-left: 5px;
        >.require{
            color: #ea2027;
        }
    }
}

textarea{
    width: 100%;
    min-height: 70px;
    resize: vertical;
}

::placeholder {
    color: #686de0;
}

input{
    height: 25px;
    width: 100%;
    
    &[type="checkbox"],&[type="radio"]{
        width:15px
    }

}



select{
    cursor:pointer;
    border-radius: 2px;
    height:30px;
    cursor: pointer;
    width:100%;
    >option{
        font-size: 14px;
    }
    
}

textarea,select,input{
    &:invalid{
        box-shadow:0px 0px 2px 1px rgb(209 67 67);
        border: none;
        &:focus{
            outline: none;
        }
    }
}


.dependence{
    margin:10px;
    padding: 5px;
    border:1px solid black;
    border-radius: 5px;
}

input[name="depInvalid"]{
    opacity: 0;
    height: 1px;
    width: 1px;
    pointer-events: none;
}

